<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Yt To Mp3</title>
</head>
<body >
  <!-- <h1>this is nanashi </h1> -->
    <!-- <img src="https://image8.uhdpaper.com/wallpaper-hd/anime-girls-guitar-music-headphone-vinyl-uhdpaper.com-hd-8.2834.jpg" alt=""> -->

<form action="{{ url_for('download')}}" method="post">
    <div class="ui input ">
        <input type="text" placeholder="Search..." name="link">
      </div>
      <div class="ui ">
      </form>    
        <button class="ui primary button" id="btn">
          Download
        </button>

      </div>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</body>
</html>